body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #00aaff;
    margin: 0;
    position: relative;
}

#homeButton {
    position: absolute;
    top: 20px;
    right: 10px;
    padding: 10px 15px; /* Make the button thicker but narrower */
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-size: 14px; /* Adjust font size as needed */
}

#homeButton:hover {
    background-color: #45a049;
}

.calculator {
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
}

input[type="number"], select, button {
    width: calc(100% - 20px); /* Ensure inputs are within the calculator border */
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    box-sizing: border-box; /* Include padding and border in the element's total width */
}

button {
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #45a049;
}
