body {
    font-family: 'Arial', sans-serif;
    background: linear-gradient(270deg, #001a33, #00264d, #003366, #004080);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    position: relative;
    text-align: center;
}

button {
    padding: 10px 20px;
    margin: 10px 0;
    background-color: #004aad;
    color: white;
    border: none;
    border-radius: 15px; /* Reduced rounding for a more formal look */
    cursor: pointer;
    font-size: 1em;
    transition: background-color 0.3s, transform 0.2s, box-shadow 0.2s;
}

#homeButton {
    position: absolute;
    top: 10px;
    left: 20px;
    padding: 10px 20px;
    background-color: #ff4757;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    width: 100px;
    transition: background-color 0.3s;
}

#homeButton:hover {
    background-color: #006400;
}

.calculator {
    background: #fff;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 350px;
    text-align: center;
    animation: fadeIn 1s ease-in-out;
}

.calculator h1 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
}

input[type="number"], select, button {
    width: calc(100% - 40px);
    padding: 15px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    box-sizing: border-box;
}

#unitsButton {
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
}

#unitsButton:hover {
    background-color: #45a049;
}

#unitsButton:active {
    transform: scale(0.98);
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
